{% extends 'base.html' %}

{% block title %}
    Category list
{% endblock %}

{% block body %}
    <h1>Categories</h1>
    {% if category_list %}
        <h1>Category list</h1>
        <ul>
            {% for category in category_list %}
                <li>
                    <a href="{% url 'equipment:category-detail' pk=category.pk %}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h4>There is no categories yet</h4>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'equipment:category-create' %}">Create</a>
{% endblock %}