{% extends 'base.html' %}

{% block title %}
    Equipments
{% endblock %}

{% block body %}
    <h1>Equipments</h1>
    {% if equipment_list %}
        <h3>Equipment list</h3>
        <ul>
            {% for equipment in equipment_list %}
                <li>
{#                {{ equipment.pk }}#}
                    <a href="{% url 'equipment:equipment-detail' pk=equipment.pk %}">
                        {{ equipment }}
                    </a>
                </li>
            {% endfor %}
        </ul>
{#        <p>Количество товаров: {{ equipment_list|length }}</p>#}
    {% else %}
        <h4>There is no equipments yet</h4>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'equipment:equipment-create' %}">Create</a>
{% endblock %}