{% extends 'base.html' %}

{% block title %}
    Equipments
{% endblock %}

{% block body %}
    <h1>Equipments</h1>
    {% if equipment_list %}
        <h3>Equipment list</h3>
        <ul>
            {% for equipment in equipment_list %}
                <li>
                    {{ equipment.name }}({{ equipment.category.name }})
                </li>
            {% endfor %}
        </ul>
{#        <p>Количество товаров: {{ equipment_list|length }}</p>#}
    {% else %}
        <h4>There is no equipments yet</h4>
    {% endif %}
{% endblock %}